{% extends 'core/base.html' %}
{% load humanize %}


{% block content %}
<h2>{{church.name}}</h2>
{% if user in church.managers.all %}
<a href="{% url 'industry:church_update' church.uuid %}">Edit Church Profile</a>
{% endif %}
<p>Head Pastor:<br>{{church.head_pastor}}</p>
<p>Founder:<br>{{church.owner}}</p>
<p>Website:<br>{{church.website|urlize|default:'No Website available'}}</p>
<p>Date Established:<br>{{church.date_established|date}}</p>
<p>Number of members:<br>{{church.number_of_members|intcomma}}</p>
<a href="{% url 'industry:church_record_list' church.uuid %}">Church Records</a>


<h4>Services</h4>
{% if user in church.managers.all %}
<a href="{% url 'industry:service_create' church.uuid %}">Add Service</a>
{% endif %}

<ul>
    {% for service in church.service.all %}
    <li>
        <a href="{% url 'industry:service_detail' service.uuid %}">{{service.name}}</a>
    </li>
    {% endfor %}
</ul>

<h4>Members</h4>
{% if user in church.managers.all %}
<a href="{% url 'industry:member_create' church.uuid %}">Add Member</a>
{% endif %}
<ul>
    {% for member in church.members.all %}
    <li>{{member.full_name}}</li>
    {% endfor %}
</ul>

<h4>Managers</h4>
<a href="{% url 'industry:manager_update' church.uuid %}">Add Manager</a>
<ul>
    {% for manager in church.managers.all %}
    <li>{{manager.full_name}}</li>
    {% endfor %}
</ul>

{% endblock content %}