{% extends 'core/base.html' %}

{% block nav_info %}
<a class="h2_link" href="{% url 'industry:church_detail' church.uuid %}">
    <h2>{{church.name}}</h2>
</a>
{% endblock nav_info %}

{% block content %}
<form class="form" action="{% url 'industry:service_create' church.uuid %}" method="post">
    {% csrf_token %}
    <p class="title">Add Service</p>
    {% for field in form %}
    <div class="input-container ic1 {% if field.errors %}active{% endif %}">
        {{field}}
        {{field.label_tag}}
        {% if field.help_text and not field.errors %}
        <p>{{field.help_text}}</p>
        {% endif %}
        <p>{{field.errors}}</p>
    </div>
    {% endfor %}
    <button type="submit">Add</button>
</form>

<script>
    let inputs = document.querySelectorAll('input')
    inputs.forEach((input) => {
        input.setAttribute('placeholder', ' ')
        if (input.type !== 'hidden' && input.type !== 'checkbox') {
            input.classList.add('input')
        }
        else if (input.type == 'checkbox') {
            input.nextElementSibling.setAttribute('style', 'all:unset; font-size:1.5rem')
        }
    })
</script>
{% endblock content %}