<div id="confirm_box" class="overlay_box active">
    <form class="confirm_box" method="post" action="{{url}}">
        {% csrf_token %}
        <h3>{{info}}</h3>
        {% if add_info %}
        <p>{{add_info}}</p>
        {% endif %}
        <div class="action">
            <button onclick="cancelDelete()">Cancel</button>
            <button type="submit">Confirm</button>
        </div>
    </form>
    <script>
        function cancelDelete() {
            let confirmBox = document.getElementById('confirm_box')
            confirmBox.remove()
            confirmBox = null
        }
    </script>
</div>