<div id="confirm_box" class="search_box active">
    <form class="confirm_box" method="post" action="{% url 'industry:offering_delete' offering.uuid %}">
        {% csrf_token %}
        <h3>Are you sure you want to delete <b>{{object.denomination}}</b></h3>
        <p>This action is irreversible</p>
        <div class="action">
            <button id="cancel">Cancel</button>
            <button type="submit">Confirm</button>
        </div>
    </form>
    <script>
        let cancelButton = document.getElementById('cancel')
        cancelButton.addEventListener('click', () => {
            let confirmBox = document.getElementById('confirm_box')
            confirmBox.remove()
            confirmBox = null
        })
    </script>
</div>