footer *,
footer:before,
footer:after {
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    --a50: #f6f6f6;
    --a100: #e7e7e7;
    --a200: #d1d1d1;
    --a300: #b0b0b0;
    --a400: #888888;
    --a500: #6d6d6d;
    --a600: #5d5d5d;
    --a700: #4f4f4f;
    --a800: #454545;
    --a900: #3d3d3d;
    --a950: #1e1e1e;
    --success: #00cc00;
    --fail: red;
    --Primary_color: #4CAF50;
    /* --Secondary_color: #F46036; */
    --Secondary_color: #FFC107;
    --Background_color: #121212;
    --Navbar_background: #1e1e1e;
    --Primary_text_color: #FFFFFC;
    --Secondary_text_color: #b0b0b0;
    --Cards_color: #232323;

    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

footer ul {
    padding: 0;
}

footer *,
footer:before,
footer:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

footer:before,
footer:after {
    --tw-content: ""
}



[hidden]:where(:not([hidden=until-found])) {
    display: none
}

footer .lcontainer {
    width: 100%
}

@media (min-width: 640px) {
    footer .lcontainer {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    footer .lcontainer {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    footer .lcontainer {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    footer .lcontainer {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    footer .lcontainer {
        max-width: 1536px
    }
}

footer .absolute {
    position: absolute
}

footer .relative {
    position: relative
}

footer .sticky {
    position: sticky
}

footer .right-\[-8px\] {
    right: -8px
}

footer .top-0 {
    top: 0
}

footer .top-\[50\%\] {
    top: 50%
}

footer .z-50 {
    z-index: 50
}

footer .mx-auto {
    margin-left: auto;
    margin-right: auto
}

footer .mb-10 {
    margin-bottom: 2.5rem
}

footer .mb-12 {
    margin-bottom: 3rem
}

footer .mb-2 {
    margin-bottom: .5rem
}

footer .mb-4 {
    margin-bottom: 1.5rem
}

footer .mb-6 {
    margin-bottom: 1.5rem
}

footer .mb-8 {
    margin-bottom: 2rem
}

footer .ml-2 {
    margin-left: .5rem
}

footer .mr-2 {
    margin-right: .5rem
}

footer .mt-8 {
    margin-top: 2rem
}

footer .flex {
    display: flex
}

footer .grid {
    display: grid
}

footer .hidden {
    display: none
}

footer .h-0\.5 {
    height: .125rem
}

footer .h-64 {
    height: 16rem
}

footer .min-h-screen {
    min-height: 100vh
}

footer .w-16 {
    width: 4rem
}

footer .w-full {
    width: 100%
}

footer.w-full {
    width: 100%
}

footer .max-w-2xl {
    max-width: 42rem
}

footer .max-w-lg {
    max-width: 32rem
}

footer .max-w-xs {
    max-width: 20rem
}

footer .translate-y-\[-50\%\] {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

footer .rotate-1 {
    --tw-rotate: 1deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

footer .transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

footer .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

footer .flex-col {
    flex-direction: column
}

footer .items-center {
    align-items: center
}

footer .justify-center {
    justify-content: center
}

footer .justify-between {
    justify-content: space-between
}

footer .gap-4 {
    gap: 1rem
}

footer .gap-8 {
    gap: 2rem
}

footer .space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

footer .space-x-8>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
}

footer .space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

footer .space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

footer .rounded-full {
    border-radius: 9999px
}

footer .rounded-lg {
    border-radius: .5rem
}

footer .rounded-md {
    border-radius: .375rem
}

footer .border {
    border-width: 1px
}

footer .border-2 {
    border-width: 2px
}

footer .border-t {
    border-top-width: 1px
}

footer .border-\[\#2E7D32\] {
    --tw-border-opacity: 1;
    border-color: rgb(46 125 50 / var(--tw-border-opacity, 1))
}

footer .border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1))
}

footer .border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

footer .bg-\[\#222222\] {
    --tw-bg-opacity: 1;
    background-color: rgb(34 34 34 / var(--tw-bg-opacity, 1))
}

footer.bg-\[\#222222\] {
    --tw-bg-opacity: 1;
    background-color: rgb(34 34 34 / var(--tw-bg-opacity, 1))
}

footer .bg-\[\#2E7D32\] {
    --tw-bg-opacity: 1;
    background-color: rgb(46 125 50 / var(--tw-bg-opacity, 1))
}

footer .bg-\[\#e0e0e0\] {
    --tw-bg-opacity: 1;
    background-color: rgb(224 224 224 / var(--tw-bg-opacity, 1))
}

footer .bg-\[\#f4f4f4\] {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity, 1))
}

footer .bg-transparent {
    background-color: transparent
}

footer .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

footer .bg-grad {
    background: linear-gradient(90deg, var(--a950) 0%, var(--a900) 80%, var(--a950) 100%);
}

footer .fill-\[\#2E7D32\] {
    fill: #2e7d32
}

footer .fill-gray-300 {
    fill: #d1d5db
}

footer .p-4 {
    padding: 1rem
}

footer .p-6 {
    padding: 1.5rem
}

footer .px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

footer .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

footer .px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

footer .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

footer.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

footer .py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

footer .py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

footer .py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

footer .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

footer .pt-8 {
    padding-top: 2rem
}

footer .text-center {
    text-align: center
}

footer .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

footer .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

footer .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

footer .text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

footer .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

footer .font-bold {
    font-weight: 700
}

footer .font-semibold {
    font-weight: 600
}

footer .italic {
    font-style: italic
}

footer .text-\[\#222222\] {
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity, 1))
}

footer .text-\[\#2E7D32\] {
    --tw-text-opacity: 1;
    color: rgb(46 125 50 / var(--tw-text-opacity, 1))
}

footer .text-\[\#333333\] {
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity, 1))
}

footer .text-\[\#f6f6f6\] {
    color: #f6f6f6;
}

footer .text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

footer .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}

footer .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

footer.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

footer .sz-11 {
    width: 7rem;
    cursor: pointer;
    transition: all 0.3s;
}


footer .licon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.07rem solid var(--a300);
    width: 2rem;
    height: 2rem;
    /* margin: 0.rem; */
    padding: 0.1rem;
    background-color: var(--a200);
}

footer .licon svg {
    cursor: pointer;
    width: 1.2rem;
    color: var(--a500);
    fill: var(--a500);
    height: 1.2rem;
}

footer .licon svg:hover {
    color: var(--a600);
    transform: scale(1.2);
}

footer .sz-11:hover {
    transform: scale(0.9);
}

footer .lsearch_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #1e1e1ee8;
    animation: fadeInScale 0.5s ease-out;
    z-index: 10001;
}

footer .lsearch_box .licon {
    position: fixed;
    top: 5vw;
    right: 5vw;
}

footer .lsearch_box .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

footer .lsearch_box.active {
    display: flex;
}

footer .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

footer .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

footer .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

footer .transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

footer .transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

footer .transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

footer .hover\:bg-\[\#1b5e20\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(27 94 32 / var(--tw-bg-opacity, 1))
}

footer .hover\:bg-\[\#f1f8f1\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 248 241 / var(--tw-bg-opacity, 1))
}

footer .hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

footer .hover\:bg-opacity-10:hover {
    --tw-bg-opacity: .1
}

footer .hover\:text-\[\#2E7D32\]:hover {
    --tw-text-opacity: 1;
    color: rgb(46 125 50 / var(--tw-text-opacity, 1))
}

footer .hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

footer .hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 640px) {
    footer .sm\:flex-row {
        flex-direction: row
    }
}

@media (min-width: 768px) {
    footer .md\:mb-0 {
        margin-bottom: 0
    }

    footer .md\:block {
        display: block
    }

    footer .md\:flex {
        display: flex
    }

    footer .md\:hidden {
        display: none
    }

    footer .md\:h-72 {
        height: 18rem
    }

    footer .md\:w-1\/2 {
        width: 50%
    }

    footer .md\:w-1\/3 {
        width: 33.333333%
    }

    footer .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    footer .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    footer .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    footer .md\:flex-row {
        flex-direction: row
    }

    footer .md\:items-start {
        align-items: flex-start
    }

    footer .md\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    footer .md\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
}

@media (min-width: 1024px) {
    footer .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
}

/*# sourceMappingURL=index.css.map */