{% extends 'core/base.html' %}

{% block content %}
<form class="form" action="{% url 'authentication:login' %}" method="post">
    {% csrf_token %}
    <p class="title">Sign In</p>
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="input-container ic1 {% if field.errors %}active{% endif %}">
        {{field}}
        {{field.label_tag}}
        {% if field.help_text and not field.errors %}
        <p>{{field.help_text}}</p>
        {% endif %}
        <p>{{field.errors}}</p>
    </div>
    {% endfor %}
    <button type="submit">Sign in</button>
    <input type="hidden" value="{{next}}" name="next">
</form>

<script>
    let inputs = document.querySelectorAll('input')
    inputs.forEach((input) => {
        input.setAttribute('placeholder', ' ')
        if (input.type !== 'hidden') {
            input.classList.add('input')
        }
    })
</script>
{% endblock content %}