{% extends 'core/base.html' %}

{% block content %}

<form class="form" method="post">
    {% csrf_token %}
    <div>
        <p class="title">Reset password</p>
        <p class="sub_text">Fill in your email address. You will receive an email with steps to reset your password, if
            it
            is a registered email address</p>
    </div>

    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="input-container ic1 {% if field.errors %}active{% endif %}">
        {{field}}
        {{field.label_tag}}
        {% if field.help_text and not field.errors %}
        <p>{{field.help_text}}</p>
        {% endif %}
        <p>{{field.errors}}</p>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
    <input type="hidden" value="{{next}}" name="next">
    <!-- <input type="hidden" name="next" value="{% url 'authentication:password_reset_done' %}"> -->
</form>

<script>
    let inputs = document.querySelectorAll('input')
    inputs.forEach((input) => {
        input.setAttribute('placeholder', ' ')
        if (input.type !== 'hidden') {
            input.classList.add('input')
        }
    })
</script>
{% endblock content %}