{% extends 'core/base.html' %}


{% block content %}

<style>
    .form ul {
        color: var(--a500);
        margin: 0rem;
        padding: 0rem;
        /* list-style: none; */
    }

    .input-container ul li {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    div:nth-child(4) {
        margin-top: 7.5rem;
    }
</style>

<form class="form" method="post">
    {% csrf_token %}
    <p class="title">Password Reset Confirm</p>
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="input-container ic1 {% if field.errors %}active{% endif %}">
        {{field}}
        {{field.label_tag}}
        {% if field.help_text and not field.errors %}
        <p>{{field.help_text}}</p>
        {% endif %}
        <p>{{field.errors}}</p>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
    <input type="hidden" value="{{next}}" name="next">
    <!-- <input type="hidden" name="next" value="{% url 'authentication:login' %}"> -->
</form>

<script>
    let inputs = document.querySelectorAll('input')
    inputs.forEach((input) => {
        input.setAttribute('placeholder', ' ')
        if (input.type !== 'hidden') {
            input.classList.add('input')
        }
    })
</script>

{% endblock content %}